<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Login Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}" />
</head>

<body>
    <h1>ADMIN PAGE</h1>

    <div class="container">
        <div th:if="${param.error}">
            <label style="color:red">Invalid username and password.</label>
        </div>

        <div th:if="${param.logout}">
            <label>
                You have been logged out.
            </label>
        </div>

        <a href="/home">Home</a>
    </div>



</html>