<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="../static/css/main.css" rel="stylesheet"  th:href="@{/css/main.css}" />

    <!-- Bootstrap core CSS -->
    <!-- <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/> -->

</head>
<body>
    <H1>ROOT Page</H1>
    <p>Go To homePage <a href="/homePage">here</a></p>

    <br>
    <p>Jika tidak ada @RequestMapping("/") atau @GetMapping("/") maka index.html ini, akan otomatis dijalankan</p>
</body>
</html>