<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Spring Boot Thymeleaf Application - Form Samples - Checkboxes</title>
</head>

<body>

    <form th:action="@{/sampleDropdowns}" method="post">

        <!-- <div th:object="${sampleUser}">
            <label>Select one color:</label>
            <select th:field="*{enumRoles}" multiple style="width: 400px; height: 120px;">
            <option th:each="color : ${allEnumRoles}"
                    th:value="${color}"
                    th:text="${color}">RED
            </option>
            </select>
        </div>

        <div th:object="${sampleUser}">
            <label>Select colors:</label>
            <select th:field="*{sampleUserRoles}" multiple style="width: 400px; height: 120px;">
                <option th:each="pengguna : ${allUserRoles}"
                        th:value="${pengguna.id}"
                        th:text="${pengguna.enumRole}">RED
                </option>
            </select>
        </div>

        <div th:object="${sampleUser}">
            <label>Select one color:</label>
            <select th:field="*{roles}" multiple style="width: 400px; height: 120px;">
            <option th:each="color : ${allRoles}"
                    th:value="${color}"
                    th:text="${color}">RED
            </option>
            </select>
        </div>
        <br> -->

        <!-- <div th:object="${sampleUser}">
            <label>Select one color:</label>
            <select th:field="*{mapRoles}" multiple style="width: 400px; height: 120px;">
            <option th:each="key : ${mapRoles.keySet()}"
                    th:value="${{key}}"
                    th:text="${key}">RED
            </option>
            </select>
        </div>
        <br> -->

        <div th:object="${sampleUser}">
            <label>Select one color:</label>
            <select id="multi_select_1" th:field="*{sampleUserRoles}" multiple style="width: 400px; height: 120px;">
            <option th:each="color : ${allUserRoles}"
                    th:value="${color.enumRole}"
                    th:text="${color.enumRole}">RED
            </option>
            </select>
        </div>
        <br>


        <br>
        <input type="submit" value="Submit" />

    </form>

    <label th:text="${message}" />
    <br>
    <label th:text="${message2}" />

</body>

</html>